<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
    <span class="pln">
</span><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"><span class="pln">
</span><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"><span class="pln">
</span><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"><span class="pln">
</span>
</head>
<body class="container">
<!--NOTE: 'Include Tag' declar in HTML template -->
{% include 'component/header.html' %}



<h2>Text Filters</h2>
<h3>First Letter Capital:{{city|capfirst}}</h3>
<h3>Uppercase Convert:{{city|upper}}</h3>
<h3>Lowercase Conversion:{{city|lower}}</h3>
<h3>word count:{{city|wordcount}}</h3>
<h3>title case:{{city|title}}</h3>
<h3>letter cutting:{{city|cut:"d"}}</h3>

<h2>Number Filters</h2>
<h3>age show:{{age}}</h3>
<h3>age add 10:{{age|add:10}}</h3>
<h3>age divisibleby:{{age|divisibleby:2}}</h3>
<h3>age floatformat:{{age|floatformat:2}}</h3>

<h2>List Filters</h2>
<h3>{{skills|length}}</h3>
<h3>{{skills|first}}</h3>
<h3>{{skills|last}}</h3>
<h3>{{skills|join:","}}</h3>

<h2>Date and Time Filters</h2>
<h3>{{dob}}</h3>
<h3>{{dob|date:"d-m-y"}}</h3>
<h3>{{dob|timeuntil}}</h3>
<h3>{{dob|timesince}}</h3>

<h2>Escape Filters</h2>
<p>{{button|safe}}</p>     <!--NOTE: eikhane baire theke push kora code render kre template e show krate cai tahole "safe" word ta eivabe use krle oi code ta execute hbe-->
<p>{{button|escape}}</p>   <!--NOTE: eikhane baire theke push kora code render kre template e show na krate cai tahole "escape" word ta eivabe use krte hoy-->

<h2>Title: Conditional Filters</h2>
<h3>{{isBangladeshi|default:"No value available here"}}</h3>

<h2>Title: Dictionary Filters</h2>
<p>{{learners}}</p>
<p>{{learners|dictsort:'name'}}</p>
<p>{{learners|dictsortreversed:'name'}}</p>

<!--NOTE: If/else declar in HTML template -->
<h2>Title: If Else Endif => Conditional Rendering</h2>
{% if isLogin %}
<button>Logout</button>
{% else %}
<button>Login</button>
{% endif %}

<h2>Title: For Loop</h2>
<table>
    <tbody>
      {% for item in products %}
      <tr>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% include 'component/form.html' %}


{% comment %}
<h1>this is "Comment Tag"</h1>
{% endcomment %}



<!--NOTE: 'Include Tag' declar in HTML template -->
{% include 'component/footer.html' %}
</body>
</html>